{% load bootstrap4 %}
{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta content="text/html; charset=UTF-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="https://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    {% bootstrap_css %}
    {% block page_css %}{% endblock %}

    <title>Interview Rest API</title>
    <link rel="stylesheet" href="{% static "css/base.css" %}" type="text/css" />
    <script type="text/javascript" src="{% static "js/base.js" %}"></script>
    {% block additional_head %}
    {% endblock %}
</head>
<body>
    <nav class="navbar navbar-expand navbar-dark bg-dark">
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a class="nav-link" href="/">Home</a>
          </li>
        </ul>
      </div>
    </nav>

    {% block additional_body %}
    {% endblock %}

    <footer class="container">
      <div class="row">
        <p class="p-2 flex-grow-1">&copy; Test App 2020</p>

        {% block footer %}
        {% endblock %}
      </div>
    </footer>

</body>
</html>
